/cmake-build-debug/.cmake/api/v1/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/Temporary/
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/build.ninja.tmp49e52
/cmake-build-debug/build.ninja.tmp11732
/cmake-build-debug/c1ex2.exe
/cmake-build-debug/c5ex1.exe
/cmake-build-debug/c7ex2.exe
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake.tmp90b25
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/l3.exe
/cmake-build-debug/
